[env]
RUST_TEST_THREADS = "1"

[build]
jobs = 1


[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"] # Si tu as installé mold
# Si tu n'as pas mold, utilise lld qui est moins gourmand que le défaut :
# rustflags = ["-C", "link-arg=-fuse-ld=lld"]
